doctype html
html
  include includes/header.pug
  body
    div(class="header")
      div(class="link-button")
        a(href="/") Back to overview
    div(class="content")
      h1 Add new project

      form(class="input-container", action="/add/project", method="POST")
        label(for="name") name
        input(type="text", name="name")

        label(for="startDate") Start date
        input(type="date", name="startDate")

        label(for="endDate") End date
        input(type="date", name="endDate")

        label(for="hours") Estimated hours
        input(type="text", name="hours")
      
        p Developers:
        div(class="checkbox-container")
          each dev, index in devs
            div
              input(type="checkbox", name=`devs` value=dev)
              label(for=`devs`)= dev._name
        
        button(type="submit") Add project