doctype html
html
  include includes/header.pug
  body
    div(class="header")
      div(class="link-button")
        a(href="/add/project") Add project
      div(class="link-button")
        a(href="/add/developer") Add Developer
    div(class="content")
      each project in projects
        h2(class="project-title")= project.name
        div(class="week-grid")
          each week, index in project.weeks
            div(class="week" class=week.class)
              //TODO should have reference to week-overview route
              p= 'W'+index
